@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
::-webkit-scrollbar-thumb {
  background: #6361f1;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5654d1;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#ticket-container {
  background-image: radial-gradient(
    circle at top left, transparent 17px, #6366f1 17px
  ), radial-gradient(
    circle at top right, transparent 17px, #6366f1 17px
  ),
  radial-gradient(
    circle at bottom left, transparent 17px, #6366f1 17px
  ),
  radial-gradient(
    circle at bottom right, transparent 17px, #6366f1 17px
  );
  background-size: 51% 51%;
  background-repeat: no-repeat;
  background-position: top left, top right, bottom left, bottom right;
}

#ticket-container::before, #ticket-container::after {
  box-sizing: border-box;
  position: absolute;
  color: #6366f1;
}

#ticket-container:hover {
  background-image: radial-gradient(
    circle at top left, transparent 17px, #8082fa 17px
  ), radial-gradient(
    circle at top right, transparent 17px, #8082fa 17px
  ),
  radial-gradient(
    circle at bottom left, transparent 17px, #8082fa 17px
  ),
  radial-gradient(
    circle at bottom right, transparent 17px, #8082fa 17px
  );
}

#button:hover {
  box-shadow: 8px 8px #0d0d0e;
  transition: 0.2s;
}